*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1, h2 {
    text-transform: uppercase;
}

/* Header */

.header {
    width: 100%;
    background: linear-gradient(90deg, #242020, #737373, #242020);
}

.header a {
    color: #fff;
}

.header a:hover,
.header a:focus {
    color: #dfdfdf;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(90deg, #242020, #737373, #242020);
    z-index: 2;
}

nav {
    position: relative;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 1px solid #fff;
    color: #D3D3D3;
    margin-right: 2rem;
}

.logo {
    margin-left: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.logo:hover,
.logo:focus {
    transition: color 0.3s linear;
}

.nav-link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #dfdfdf;
    display: block;
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
    transition: width 0.4s linear;
}

.container-fluid {
    padding: 10% 15%;
}

.profile {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

h1 {
    color: #fff;
    font-weight: 900;
    margin-top: 1.5rem;
}

.header p {
    color: #fff;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.red {
    border-bottom: 3px solid #ff3632;
}

.line {
    border: 3px solid ;
    width: 8rem;
    color: white;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dots {
    position: relative;
    top: 3rem;
}

hr {
    color: white;
    border-style: none;
    border-width: 10px;
    width: 7%;
    border-top-style: dotted;
    opacity: 1;
}

.line2 {
    margin-left: auto;
}

/* Education Section */

.light-bg {
    background-color: #D3D3D3;
}

h2 {
    font-weight: 800;
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

.dark {
    color: #242020;
}

.img {
    width: 530px;
}

/* Experience Section */

.dark-bg {
    background-color: #242020;
    color: #fff;
}

.right {
    text-align: end;
}

/* My Projects Section */

.my-projects {
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects a {
    color: #fff;
    text-decoration: none;
    margin: 0 .5rem;
}

.code {
    color: #242020;
}

.projects:hover .code {
    color: #ffa500;
    transition: color .5s ease-out;
}

.projects img {
    width: 100%;
    max-width: 550px;
    height: calc(350px - 2.5rem);
    object-fit: cover;
}

.projects p {
    background-color: #242020;
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

/* Contacts */

#contact {
    text-align: center;
}

#contact p {
    font-size: clamp(1rem, 2cqi, 1.2rem);
}

.white-border {
    border: 5px solid #fff;
    padding: 2rem 1rem;
}

.bold {
    font-weight: bold;
}

/* Footer Section */

footer {
    padding: 2rem;
    text-align: center;
}

.social-icon {
    color: #fff;
    width: 20px;
}

@media (max-width: 990px) {

    body {
        text-align: center;
    }

    .line {
        display: none;
    }
}

@media (max-width: 768px) {

    .container-fluid {
        padding: 20% 15% 15% 15%;
    }

    hr {
        margin: 0 auto;
        width: 15%;
    }

    .dots {
        top: 1.5rem;
    }

    .profile {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    .line {
        display: none;
    }

    .nav-link:hover::after,
    .nav-link:focus::after {
        display: none;
    }

    .nav-link::after {
        display: none;
    }

    .img {
        width: 300px;
        padding: 1.5rem 0;
    }

    .right {
        text-align: center;
    }
}
